<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="/static/logo.png" alt="dance-logo">
            </div>
            <li><a class='active' href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">Class Info</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <section id="introSection">
        <div>Welcome to Dance Academy</div>
        <div class="small">Eat Sleep Repeat</div>
    </section>

    <section id="missionSection">
        <h2>Our Mission</h2>
        <div class="card">
            <p>Dance Perfection</p>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/logo.png" alt="">
                </div>
                <div class="card-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure maiores quod at perferendis possimus dignissimos ad, corrupti nihil et iste?</div>
            </div>
        </div>
        <div class="card">
            <p>Dance the way you like</p>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/logo.png" alt="">
                </div>
                <div class="card-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure maiores quod at perferendis possimus dignissimos ad, corrupti nihil et iste?</div>
            </div>
        </div>
        <div class="card">
            <p>Expert Teaching</p>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/logo.png" alt="">
                </div>
                <div class="card-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure maiores quod at perferendis possimus dignissimos ad, corrupti nihil et iste?</div>
            </div>
        </div>
    </section>
    <section id="sponsorsSection">
        <h2>Our Sponsors</h2>
        <div id="sponsors">
            <img class='spimage' src="/static/Apple.png" alt="Apple">
            <img class='spimage' src="/static/Microsoft.png" alt="Microsoft">
            <img class='spimage' src="/static/hp.png" alt="hp">
            <img class='spimage' src="/static/skype.png" alt="skype">
        </div>
    </section>
    <footer id="footer">
        | Copyright © 2021 DJAmydanceacademy.com | All rights reserved 
    </footer>
</body>

</html>